
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: 
      linear-gradient(rgba(15, 15, 15, 0.9), rgba(26, 26, 26, 0.9)), 
      url("valorant-jett-anime-style-art-ykg2b8y3588tp7q5.jpg"); /* Valorant vibe */
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    overflow-x: hidden;
  }
